/*////////////////////////////// ESTILOS RESET //////////////////////////////*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;;
}
li{
    list-style: none;
}
a{
    font-style: none;
    text-decoration: none;
}
/*////////////////////////////// BARRA DE NAVEGACION //////////////////////////////*/
.nav{
    display: flex;
    background-color: #0a141d;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
}
.nav img{
    justify-content: left;
    margin-right: 0;
    width: 200px;
    padding: 2px;
    height: auto;
}
.nav ul li{
    display: flex;
    float: left;
    padding: 14px; 
}
.nav ul li a{
    color: #efefef;
    font-size: large;
    transition: 1s;
}

.nav ul li a:hover{
    color: blue;
    transition: all .4s ease-in-out;
}
/*////////////////////////////// INDEX/MAIN //////////////////////////////*/
#body{
    max-width: 100%; 
    margin: 0 auto; 
}
#main{
    min-height: 100vh; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#header{
    margin: 0 auto;
}
#portadaPrincipal{
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(12, 12, 97);
    color: white;
    width: 100%;
    height: 150px;
}
.bannerPrincipal{
    display: flex;
    width: 100%; 
    height: 100vh;
    background-color: rgb(174, 232, 232);
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px;}
.box img{
    width: 170px;
}
.box{width: 200px;
    height: 200px;
    background-color: white;
    margin: 5px;
    display: inline-block;
overflow: auto;
padding: 10px;
border: 1px solid black; 
} 
.bannerDescripcion {
    display: grid;
    width: 100%;
    height: 600px;
    background-color: blue;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "bannerGrid1 bannerGrid2"
}
.bannerDescripcion h3{
    color: white;
    font-size: 35px;
    padding: 10px;
}
.bannerDescripcion a{
    color: white;
}
button{
    background-color: red;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
}
.bannerFlex1{
    color: white;
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bannerFlex1 h3{
    font-size: 22px;
}
.clientesPrincipales{
    display: flex;
    width: 100%;
    height: 250px;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/*////////////////////////////// FOOTER //////////////////////////////*/
#footer {
width: 100%;
background-color: #0a141d;
max-width: 100%;
margin: auto;
display: grid;
text-align: center;
grid-template-columns: repeat(3, 1fr);
grid-gap: 50px;
padding: 10px 0px;
}
#footer h4{
    color: #efefef;
    margin: 10px;
    font-size: 20px;
}
.footer article img {width: 250px;
height: 100px;}
.footerContacto h4{
    color: white;
    margin: 20px;
    margin-bottom: 20px;
}
.footerContacto p{
    width: 100%;
    color: white;
    font-size: 12px;
}
.footerContacto a{
    margin: 0 auto;
    padding: 30px;
}
.footerRedes a{
    display: inline-block;
    text-decoration: none;
    width: 50px;
    height: 50px;
    line-height: 45px;
    color: #efefef;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
}
.footerContacto {
    flex-direction: column;
    overflow: auto;
}
.footerRedes img{width: 100%;
height: 300px;}
.footerRedes{
    text-align: center
}
/*TIPOGRAFIA DE EJEMPLO*/

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display:ital,wght@0,400;0,500;1,400&display=swap');

/*
///////////////////////////////////////////////////////////////////////////////
ESTILOS DEL PAGE GRIDS
///////////////////////////////////////////////////////////////////////////////
*/
#pruebaGrid{
    display: grid;/*DEFINIMOS QUE SERA UN GRID*/
    grid-template-columns: repeat(4, 1fr); /*INDICAMOS CUANTAS COLUMNAS SERAN*/
    grid-template-rows: repeat(2, 200px); /*INDICAMOS CUANTAS FILAS SERA*/
    gap: 20px; /*INDICAMOS CUAL SERA EL ESPACIO ENTRE LA CAJAS*/

    grid-template-areas: 
    /*COL#1      COL#1     COL#1     COL#1*/
    "hijoGrid1 hijoGrid2 hijoGrid2 hijoGrid2" /*FILA #1*/
    "hijoGrid1 hijoGrid2 hijoGrid2 hijoGrid2" /*FILA #2*/
    ;
}
.boxGrid img{
    width: 100%;/*INDICAMOS EL TAMAÑO QUE QUEREMOS DE ANCHO*/
    height: 100%;/*INDICAMOS EL TAMAÑO QUE QUEREMOS DE ALTO*/
}
#grid3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 200px);
    gap: 20px;
    grid-template-areas: 
    "hijoGrid1 hijoGrid2"
    "hijoGrid3 hijoGrid4"
}
.boxGridhijos img{
    width: 100%;
    height: 100%;
}
.hijoGrid1 {
    grid-area: hijoGrid1;
}
.hijoGrid2 {
    grid-area: hijoGrid2;
}
.hijoGrid3 {
    grid-area: hijoGrid3;
}
.hijoGrid4 {
    grid-area: hijoGrid4;
}
/*BREAKPOINT DISEÑO RESPONSIVO*/
@media (max-width: 600px) {
    #grid3{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 200px);
    grid-template-areas: 
    "hijoGrid1"
    "hijoGrid2"
    "hijoGrid3" 
    "hijoGrid4";
    justify-content: center;
    }
    .clientesPrincipales{
    display: flex;
    }
    #footer {
        flex-direction: column;
        gap: 20px;
    }
    #header { 
    height: auto;
    }
}